*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: skyblue;
}

h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
}

.card {
    border: 5px double #477e94;
    border-radius: 10px;
    min-width: 345px;
    background-color: rgb(223, 206, 223);
}

li {
    line-height: 1.5em;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.hx {
    color: rgb(52, 113, 131);
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-bottom: 100px;
    justify-content: center;
}

.button {
    border: 3px groove black;
    font-size: larger;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

.add-button {
    display: block;
    margin: auto;
    background-color: cornflowerblue;  
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}

.add-button:hover {
    background-color: rgb(37, 78, 201);
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.add-to-library {
    background-color: rgb(77, 231, 123);
}

.cancel {
    background-color: red;
}

.input-div {
    display: flex;
    justify-content: space-between;
    font-size: larger;
}

.form {
    border: 4px solid black;
    display: flex;
    min-width: 400px;
    flex-direction: column;
    align-items: initial;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 8px;
    padding: 10px;
    gap: 5px;
    background-color: lightblue;
}

.active {
    transform: translate(-50%, -50%) scale(1.5);
    transition: 1.3s all;
}

.card-buttons {
    height: 40px;
    display: flex;
    justify-content: space-around;
}

.read-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}

.remove-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}




















